{% extends "base.html" %}
{% block content %}
    <h1>List of documents:</h1>
    {% for row in data %}
        <h3>{{ row.name }}</h3>
        <form action="{{ url_for('download', filename=row.filename) }}">
            <input type="submit" value="Download">
        </form>
        {% if row.user_id or current_user.is_anonymous %}
            <p>Rating: {{ row.rating }}</p>
        {% else %}
            <form action="" method="post">
                <p><input name="choice" type="radio" value="1, {{ row.id }}"> + </p>
                <p><input name="choice" type="radio" value="-1, {{ row.id }}"> - </p>
                <p><input type="submit" value="Vote"></p>
            </form>
        {% endif %}
    {% endfor %}
{% endblock %}